name: Continuous Integration
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - master
    paths-ignore:
      - '**/README.*'
      - 'doc/**'
      - '1.gocd.yml'
      - '.gitignore'
      - '.spellcheck.yml'
      - '.spellcheckwordlist.txt'

  push:
    branches:
      - master
    paths-ignore:
      - '.gitignore'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  defaults:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository contents
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Run tests for documentation
        run: |
          make test-doc
      - name: Build images
        run: |
          make init
          echo "# NOTE: use absolute paths to current dir to get docker bind mounts to work" > ci.env
          echo "DOCKER_MIGRID_ROOT=$PWD" >> ci.env
          echo "" >> ci.env
          grep -E -v "DOCKER_MIGRID_ROOT=" .env >> ci.env
          rm -f .env
          mv ci.env .env
          make dockerbuild
      - name: Start services
        run: |
          make up
      - name: Run tests
        run: |
          make test
      - name: Read docker compose logs
        run: |
          make logs
      - name: Read migrid logs
        run: |
          tail -n +1 state/log/*
      - name: Stop services
        run: |
          make down
